/*NYC logo with the menu*/
body{
  background-image:url("https://cdn.pixabay.com/photo/2015/03/26/10/18/new-york-691072_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
}

/*text for NYC EVENTS LOGO */
h3{
  color:white;
  font-size: 50px;
  font-family: 'Monoton', cursive;
  margin-top: 5px;
  margin-bottom: 5px;
}


/*text for inspiration quotes*/
p{
  color:white;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  margin-top: 10px;
}

/*inspiration button */
button{
  font-family: 'Zilla Slab', serif;
  font-size: 25px;
  text-transform: uppercase;
  border-color: white;
  background-color: transparent;
  color:white;
  border-radius: 3px;
  padding: 15px 25px;
}

/*changes for button when hovered over*/
button:hover, button:focus {
background-color: white;
color:black;
}

/*image size and styling for the menu dropdown */
img{
  width:50px;
  height:50px;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px
}

/*changing color of menu to grey when hovered over */
.museums:hover, .activities:hover, .attractions:hover, .food:hover,.team:hover{
  color: #A9A9A9;
}

/*changes made to menu after it is clicked on */
a{
  color:white;
  text-decoration: none;
}


/*DROP DOWN MENU PART*/

.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position:relative;
    display: inline-block;
    font-family:
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color:white;
    font-family: 'Zilla Slab', serif;
    font-size: 25px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
